<section class="text-center text-sm-right px-5 pt-2">
  <% if current_user && current_user.admin %>
      <%= link_to 'New Blog', new_blog_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Admin Blogs Portal', admin_blogs_path %>
  <% end %>
</section>



<header class="text-center mb-4">
  <h1 class="font-weight-bold my-3">The Blog</h1>
  <!-- <p class="dark-grey-text w-responsive mx-auto mb-5"></p> -->
</header>



<section class="container text-center mb-5"> <!-- blogs -->
  <div class="row">  <!-- Grid row -->

    <% if @blogs.count != - %>
      <% @blogs.each do |blog| %>
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4"> <!-- Grid column -->

          <div class="view overlay rounded z-depth-2 mb-3">
            <img class="img-fluid" src="<%= blog.image_url %>" alt="Sample image">
            <%= link_to blog do %>
              <div class="mask rgba-white-slight"></div>
            <% end %>
          </div> <!-- Featured image -->

          <a href="#!" class="navy-text">
            <h6 class="font-weight-bold">
              <%= render partial: "blogs/category_icon", locals: { blog: blog } %>
            </h6>
          </a> <!-- Category -->

          <%= link_to blog do %>
            <h3 class="font-weight-bold mb-0 pb-0 text-navy"><strong><%= blog.title %></strong></h3>
          <% end %>
          <p class="mb-1"><em>by <a class="font-weight-bold"><%= blog.user.full_name %></a>, <%= blog.published_at.strftime("%b %e, %Y") %></em></p>
          <p class="dark-grey-text small-line-height">
            <%= blog.teaser %>
            <% if current_user && current_user.admin %>
              <br><small>
                <%= link_to 'Edit', edit_blog_path(blog) %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to 'Delete', blog_path(blog), method: :delete, data: { confirm: 'Are you sure you want to delete that blog?'} %>
              </small>
            <% end %>
          </p>

        </div> <!-- Grid column -->
      <% end %>
    <% end %>
    
  </div>
  <!-- Grid row -->

</section>
