<div class="view main-image jarallax" style="height: 30vh; min-height: 500px;">

  <% if @course_module.image.attached? %>
    <img class="jarallax-img" src="<%= polymorphic_url(@course_module.image) %>" alt="<%= @course_module.title %>">
  <% end %>


  <div class="mask rgba-white-strong">
    <div class="container text-center mt-5">
      <div class="row my-5">
        <div class="col-md-12 wow fadeIn mt-5 mb-3">
          <% if !@course_module.active %>
            <h3 class="uppercase text-black"><small>Currently Inactive</small></h3>
          <% end %>
          <h1 class="display-3 mb-2 wow fadeInDown text-black font-weight-bold" data-wow-delay="0.3s"><%= @course_module.title %></h1>
          <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn text-black" data-wow-delay="0.4s">
            <%= @course_module.teaser %>
          </h4>
          <a href="#lessons">
            <h3 class="text-red"><%= pluralize(@course_module.lessons.count, "Lesson") %></h3>
          </a>
          <p>Taught by <%= @course_module.course.user.full_name %></p>

          <% if current_user && current_user.admin %>
            <div class="text-center">
              <%= link_to "Edit Module", edit_course_module_path(@course_module), class: "btn btn-slate btn-sm" %>
            </div>
          <% end %>

        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->

  </div> <!-- mask -->

</div> <!-- jarallax view -->


<main class="container px-5">


  <section id="info" class="row lesson-body pt-5">
    <div class="col-12">

      <% if @course_module.goal != "" %>
        <div class="goal-box mb-4">
          <p><strong>Module Goal: </strong><%= @course_module.goal %></p>
        </div> <!-- goal-box -->
      <% end %>

      <%= raw(@course_module.description) %>

    </div> <!-- col -->
  </section>

  <section id="video" class="row">
    <div class="col-12 text-center my-3">
      <%= @course_module.video.html_safe %>
    </div>
  </section>

  <section id="lessons" class="row">
    <div class="col-12 text-center">
      <h2>Lessons</h2>
      <% if current_user && current_user.admin %>
        <%= link_to "New Lesson", new_lesson_path(course: @course, module: @course_module), class: "btn btn-slate btn-sm mb-3" %>
      <% end %>


      <div class="table-responsive text-left" style="width: 100%">
        <table id="dtBasicExample" class="table table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th>Module</th>
              <% if current_user && current_user.admin %>
                <th class="text-center">Active</th>
              <% end %>
            </tr>
          </thead>

          <tbody class="sortable">
            <% @course_module.lessons.each_with_sortable_id do |lesson, sortable_id| %>
              <tr id="<%= sortable_id %>">
                <td class="text-center">
                  <% if LessonCompletion.where(user_id: current_user.id, lesson_id: lesson.id, favorite: true).count != 0 %>
                    <i class='fas fa-star'></i>
                  <% else %>
                    <i class='far fa-star'></i>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if LessonCompletion.where(user_id: current_user.id, lesson_id: lesson.id, complete: true).count != 0 %>
                    <i class="far fa-check-square"></i>
                  <% else %>
                    <i class="far fa-square"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to "Lesson " + lesson.order_in_module.to_s + ":  ".html_safe + lesson.title, lesson_path(lesson) %>
                  <% if current_user && current_user.admin %>
                    ( <%= link_to 'Edit', edit_lesson_path(lesson) %>, <%= link_to 'Delete', lesson, method: :delete, data: { confirm: 'Are you sure?' } %> )
                  <% end %>
                </td>
                <% if current_user && current_user.admin %>
                  <td class="text-center"><% if lesson.active %><i class='fas fa-check'></i><% end %></td>
                <% end %>
              </tr>

            <% end %>
          </tbody>
        </table>
      </div> <!-- table responsive -->


    </div>
  </section>



</main>



<% if current_user && current_user.admin %>
  <script>
    $(document).ready(function() {

      $(function() {
        $('.sortable').railsSortable();
      });

      // object-fit polyfill run
      objectFitImages();

      /* init Jarallax */
      jarallax(document.querySelectorAll('.jarallax'));

      jarallax(document.querySelectorAll('.jarallax-keep-img'), {
          keepImg: true,
      });
    });
  </script>
<% end %>
