<main id="user-page" class="mb-5 mt-3">

  <% if current_user.id == @user.id %>
    <div class="text-right px-5">
      <%= link_to "Edit My Information", edit_user_registration_path(@user) %>
    </div>
  <% end %>

  <div class="container">

    <header class="text-center">
      <% if current_user.id == @user.id %>
        <h1>My Account</h1>
      <% else %>
        <h1><%= @user.full_name %></h1>
      <% end %>
      <p>
        <% if current_user.id == @user.id %>
          <em><%= @user.full_name %></em>
          &nbsp;&nbsp;|&nbsp;&nbsp;
        <% end %>
        <% if @user.admin %>
          <em>Administrator</em>
        <% elsif @user.contributor %>
          <em>Contributor Since <%= @user.contributor_since.year %></em>
          <%= render partial: "users/contributor_box", locals: { user: @user } %>
        <% else %>
          <em>Member Since <%= @user.created_at.year %></em>
        <% end %>
      </p>
    </header>


    <% if @courses != [] %>
      <section id="courses">
        <h2>My Courses</h2>


          <h3>In Progress</h3>
          <div class="row pb-4">
            <% @courses.each do |course| %>

              <!-- LOGIC -->
              <% @course_lesson_ids = [] %>
              <% Lesson.all.each do |lesson| %>
                <% if lesson.course_module.course_id == course.id %>
                  <% @course_lesson_ids << lesson.id %>
                <% end %>
              <% end %>

              <% @all_user_lesson_completions = LessonCompletion.where(user_id: current_user.id) %>
              <% @completed_lessons = [] %>
              <% @all_user_lesson_completions.each do |lc| %>
                <% if @course_lesson_ids.include? lc.lesson_id %>
                  <% @completed_lessons << Lesson.find(lc.lesson_id) %>
                <% end %>
              <% end %>

              <% @total_course_lessons = @course_lesson_ids.count.to_f %>
              <% @total_completed_lessons = @completed_lessons.count.to_f %>
              <% percent = (@total_completed_lessons / @total_course_lessons * 100).round %>
              <!-- END LOGIC -->

              <div class="col-12 col-sm-9">
                <%= link_to course.name, course, class: "font-weight-bold" %>
              </div> <!-- COL -->

              <div class="col-12 col-sm-3">
                <div class="progress md-progress" style="height: 20px">
                  <div class="progress-bar color-red" role="progressbar" style="width: <%= percent %>%; height: 20px" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100"><%= percent %>%</div>
                </div> <!-- progress bar -->
              </div> <!-- COL -->

            <% end %>
          </div> <!-- row -->

          <h3>Favorite Lessons</h3>
          <div class="row pb-4">

            <!-- LOGIC -->
            <% @favorite_lessons = [] %>
            <% LessonCompletion.where(user_id: @user.id, favorite: true).each do |lc| %>
              <% @favorite_lessons << Lesson.find(lc.lesson_id) %>
            <% end %>
            <!-- END LOGIC -->

            <% @favorite_lessons.each do |lesson| %>
              <div class="col-12">
                <%= link_to lesson.title, lesson, class: "font-weight-bold" %> (from <%= link_to lesson.course_module.course.name, lesson.course_module.course %>)
              </div> <!-- COL -->
            <% end %>
          </div> <!-- row -->

      </section>
    <% end %>

  </div> <!-- container -->





</main>
