<main class="mb-5 mt-3">

  <% if current_user.id == @user.id %>
    <div class="text-right px-5">
      <%= link_to "Edit My Information", edit_user_registration_path(@user) %>
    </div>
  <% end %>

  <div class="container">

    <header class="text-center">
      <% if current_user.id == @user.id %>
        <h1>My Account</h1>
      <% else %>
        <h1><%= @user.full_name %></h1>
      <% end %>
      <p>
        <% if current_user.id == @user.id %>
          <em><%= @user.full_name %></em>
          &nbsp;&nbsp;|&nbsp;&nbsp;
        <% end %>
        <% if @user.admin %>
          <em>Administrator</em>
        <% elsif @user.contributor %>
          <em>Contributor Since <%= @user.contributor_since.year %></em>
        <% else %>
          <em>Member Since <%= @user.created_at.year %></em>
        <% end %>
      </p>
    </header>



    <section>
      <%= render partial: "users/contributor_box", locals: { user: @user } %>
    </section>

  </div> <!-- container -->





</main>
