<main class="my-5 py-5">
  <div class="container">

    <div class="card">

      <div class="card-header text-center">
        <h2 class="my-1">Set a New Password</h2>
      </div> <!-- card header -->

      <div class="card-body px-lg-5">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

         <%= render "devise/shared/error_messages" %>

          <div class="form-inputs">
            <div class="row">

              <div class="col-sm-6">
                <div class="md-form mb-1">
                  <%= f.password_field :password,
                        class: "form-control",
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
                  <label for="materialFormFirstName">Password</label>
                </div> <!-- md-form -->
              </div> <!-- col -->

              <div class="col-sm-6">
                <div class="md-form mb-1">
                  <%= f.password_field :password_confirmation,
                        class: "form-control",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
                  <label for="materialFormLastName">Confirm Password</label>
                </div> <!-- md-form -->
              </div> <!-- col -->

            </div> <!-- row -->
          </div> <!-- form inputs -->

          <div class="form-actions text-center mt-4">
            <%= f.button :submit, "Change Password", class: "btn btn-primary" %>
            <br><%= render "devise/shared/links" %>
          </div>
        <% end %>

      </div> <!-- card-body -->
    </div> <!-- card -->

  </div> <!-- container -->
</main>
