<table class="text-left mb-3">
  <tr>
    <% if @lesson_completion.complete %>
      <td class="pr-1"><%= link_to "<i class='far fa-check-square'></i>".html_safe, uncomplete_lesson_path(@lesson), method: :post, class: "text-red" %></td>
      <td><%= link_to "Mark as Unfinished".html_safe, uncomplete_lesson_path(@lesson), method: :post, class: "text-red" %></td>
    <% else %>
      <td class="pr-1"><%= link_to "<i class='far fa-square'></i>".html_safe, complete_lesson_path(@lesson), method: :post, class: "text-red" %></td>
      <td><%= link_to "Mark Lesson as Completed".html_safe, complete_lesson_path(@lesson), method: :post, class: "text-red" %></td>
    <% end %>
  </tr>

  <tr>
    <% if @lesson_completion.favorite %>
      <td class="pr-1"><%= link_to "<i class='fas fa-star'></i>".html_safe, unfavorite_lesson_path(@lesson), method: :post, class: "text-red" %></td>
      <td><%= link_to "Remove from Favorites".html_safe, unfavorite_lesson_path(@lesson), method: :post, class: "text-red" %></td>
    <% else %>
      <td class="pr-1"><%= link_to "<i class='far fa-star'></i>".html_safe, favorite_lesson_path(@lesson), method: :post, class: "text-red" %></td>
      <td><%= link_to "Mark Lesson as Favorite".html_safe, favorite_lesson_path(@lesson), method: :post, class: "text-red" %></td>
    <% end %>
  </tr>
</table>
