<main class="container px-5">

  <header class="text-center py-4">
    <h1 class="mb-0 mt-4 mt-md-0 font-weight-bold display-3"><%= @lesson.title %></h1>
    <% if !@lesson.active %>
      <h3 class="uppercase text-beige"><small>Currently Inactive</small></h3>
    <% end %>
    <% if current_user && current_user.admin %>
      <div class="text-center">
        <%= link_to "Edit Lesson", edit_lesson_path(@lesson), class: "btn btn-slate btn-sm" %>
      </div>
    <% end %>
  </header>

  <section id="info" class="row">

    <div class="col-12 col-md-5 col-lg-4 text-center">
      <% if @lesson.image.attached? %>
        <img class="product-image mb-3" src="<%= polymorphic_url(@lesson.image) %>" alt="<%= @lesson.title %>">
      <% end %>

      <p>Taught by <%= @course.user.full_name %></p>

      <div class="text-left>"><%= render partial: "lessons/completions", locals: { lesson: @lesson } %></div>
    </div> <!-- col -->

    <div class="col-12 col-md-7 col-lg-8 text-center text-sm-left">
      <h2><%= @lesson.teaser %></h2>
      <p><%= @lesson.description %></p>
    </div> <!-- col -->


    <% if @lesson.goal != "" %>
      <div class="col-12">
        <div class="goal-box my-4">
          <p><strong>Lesson Goal: </strong><%= @lesson.goal %></p>
        </div> <!-- goal-box -->
      </div> <!-- col -->
    <% end %>

  </section>

  <section id="video" class="row">
    <div class="col-12 text-center my-3">
      <%= @lesson.video.html_safe %>
    </div>
  </section>

  <section id="lessons" class="row">

    <div class="col-12 text-left lesson-body">
      <%= raw(@lesson.body) %>
    </div>

    <% if @lesson.materials != "" || @lesson.attachment.attached? %>
      <div class="col-12">
        <h2>Materials</h2>
        <% if @lesson.materials %>
          <% materials = @lesson.materials.split(",") %>
        <% else %>
          <% materials = false %>
        <% end %>

        <ul class="mb-0">
          <% if @lesson.attachment.attached? %>
            <li><%= link_to @lesson.attachment_name, rails_blob_path(@lesson.attachment, disposition: "attachment") %></li>
          <% end %>

          <% if materials %>
            <% materials.each do |m| %>
              <li><%= m.html_safe %></li>
            <% end %>
          <% end %>
        </ul>

      </div> <!-- col -->
    <% end %>


    <% if @lesson.assignment != "" %>
      <div class="col-12">
        <div class="goal-box my-4">
          <p>
            <strong>Lesson Assignment:</strong>
            <%= @lesson.assignment %>
          </p>
        </div> <!-- goal-box -->
      </div> <!-- col -->
    <% end %>

    <div class="col-12">
      <div class="text-center pt-5>"><%= render partial: "lessons/completions", locals: { lesson: @lesson } %></div>
    </div> <!-- col -->

  </section>



  <div class="text-center pt-6">
    <div class="d-md-none btn btn-slate btn-sm text-center" style="cursor:pointer" onclick="openNav()">Go to Next Lesson</div>
  </div>




  <section id="comments" class="row pt-5">
    <div class="col-12 text-left">
      <h2 class="text-center">Comments or Questions</h2>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = "<%= polymorphic_url(@lesson) %>";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "Lesson <%= @lesson.id %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://sixkeyskills.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>

    </div>
  </section>





</main>









<script>
  $(document).ready(function() {
    //disqus_config()
    var disqus_config = function () {
      this.page.url = "<%= polymorphic_url(@lesson) %>";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "Lesson <%= @lesson.id %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://sixkeyskills.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  });
</script>
