
<%= simple_form_for(@resource) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if @resource.errors.any? %>
    <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-inputs">




    <div class="row">

      <div class="col-12">
        <div class="md-form">
          <%= f.text_field :title, id: "title", class: "form-control" %>
          <label for="title">Resource Title</label>
        </div> <!-- md form -->
      </div> <!-- col -->

      <div class="col-12">
        <div class="">
          <label for="description">Resource Description</label>
          <%= f.text_area :description, id: "description", class: "form-control" %>
        </div> <!-- md-form -->
      </div> <!-- col -->

      <div class="col-12">
        <div class="md-form">
          <%= f.text_field :classification, id: "classification", class: "form-control" %>
          <label for="classification">Resource Classification (e.g. "Downloadable PDF" or "PDF Cheatsheet")</label>
        </div> <!-- md form -->
      </div> <!-- col -->

    </div> <!-- row -->



    <label class="text-left mt-4">Applicable Categories</label>
    <div class="row text-left">

      <div class="col-4 col-lg-2 field form-check" style="margin-left: auto; margin-right: auto;">
        <%= f.check_box :general, class: "form-check-input", id: "general" %>
        <%= f.label :general, class: "form-check-label", for: "general" %>
      </div>

      <div class="col-4 col-lg-2 field form-check" style="margin-left: auto; margin-right: auto;">
        <%= f.check_box :motivation, class: "form-check-input", id: "motivation" %>
        <%= f.label :motivation, class: "form-check-label", for: "motivation" %>
      </div>

      <div class="col-4 col-lg-2 field form-check" style="margin-left: auto; margin-right: auto;">
        <%= f.check_box :mindset, class: "form-check-input", id: "mindset" %>
        <%= f.label :mindset, class: "form-check-label", for: "mindset" %>
      </div>

      <div class="col-4 col-lg-2 field form-check" style="margin-left: auto; margin-right: auto;">
        <%= f.check_box :resourcing, class: "form-check-input", id: "resourcing" %>
        <%= f.label :resourcing, class: "form-check-label", for: "resourcing" %>
      </div>

      <div class="col-4 col-lg-2 field form-check" style="margin-left: auto; margin-right: auto;">
        <%= f.check_box :planning, class: "form-check-input", id: "planning" %>
        <%= f.label :planning, class: "form-check-label", for: "planning" %>
      </div>

      <div class="col-4 col-lg-2 field form-check" style="margin-left: auto; margin-right: auto;">
        <%= f.check_box :time_management, class: "form-check-input", id: "time_management" %>
        <%= f.label :time_management, class: "form-check-label", for: "time_management" %>
      </div>

      <div class="col-4 col-lg-2 field form-check" style="margin-left: auto; margin-right: auto;">
        <%= f.check_box :discipline, class: "form-check-input", id: "discipline" %>
        <%= f.label :discipline, class: "form-check-label", for: "discipline" %>
      </div>
    </div> <!-- row -->





    <div class="row text-left">

      <div class="col-12 col-sm-6">
        <label>Sample Image</label><br>
        <%= f.file_field :sample %>
      </div> <!-- col-12 -->

      <div class="col-12">
        <div class="form-group">
          <%= f.input :resource_type, label: false, prompt: "Select Resource Type", input_html: { class: 'mdb-select md-form colorful-select' }, collection: [['Attachment', 'Attachment'], ['URL Link', 'URL Link']], required: true %>
        </div>
      </div> <!-- col -->

      <div class="col-12 col-sm-6">
        <div class="md-form">
          <%= f.text_field :link_url, id: "link-url", class: "form-control" %>
          <label for="link-url">Resource URL</label>
        </div> <!-- md form -->
      </div> <!-- col -->

      <div class="col-12 col-sm-6">
        <label>Attachment</label><br>
        <%= f.file_field :document %>
      </div> <!-- col-12 -->

      <div class="col-4 col-lg-2 field form-check">
        <%= f.check_box :active, class: "form-check-input", id: "active" %>
        <%= f.label :active, class: "form-check-label", for: "active" %>
      </div>

    </div> <!-- row -->
  </div> <!-- form-inputs -->




  <div class="form-actions text-center">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>








<script>
  $(document).ready(function() {
    $('.mdb-select').materialSelect();
  });
</script>
