<% if @course.image.attached? %>
  <%= content_for :meta_og_image do %>
    <meta property="og:image" content="<%= polymorphic_url(@course.image) %>" />
  <% end %>
<% end %>

<%= content_for :meta_og_title do %>
  <meta property="og:title" content="<%= @course.name %> | Six Key Skills" />
<% end %>

<%= content_for :meta_og_url do %>
    <meta property="og:url" content="<%= polymorphic_url(@course) %>" />
<% end %>

<%= content_for :meta_og_desc do %>
  <meta property="og:description" content="<%= @course.teaser %>" />
<% end %>




<% if current_user && CourseRegistration.where(course_id: @course.id, user_id: current_user.id).count != 0 %>
  <% @current_user_registered = true %>
<% else %>
  <% @current_user_registered = false %>
<% end %>


<main class="container">

  <header class="text-center py-4">
    <h1 class="mb-0 font-weight-bold display-3"><%= @course.name %></h1>
    <% if !@course.active %>
      <h3 class="uppercase text-beige"><small>Currently Inactive</small></h3>
    <% end %>
  </header>

  <section id="info" class="row">
    <div class="col-12 col-sm-5 col-md-4 text-center">
      <% if @course.image.attached? %>
        <img class="product-image mb-3" src="<%= polymorphic_url(@course.image) %>" alt="<%= @course.name %>">
      <% end %>
      <h3 class="text-red">
        <% if @current_user_registered %>
          Registered
        <% else %>
          <%= number_to_currency(@course.price) %>
        <% end %>
      </h3>
      <p>Taught by <%= @course.user.full_name %></p>

      <% if @registered %>
        <a href="#modules" class="btn btn-red">Go to Class</a>
      <% else %>
        <%= link_to "Register", new_course_registration_path(course: @course), class: "btn btn-red" %>
      <% end %>

      <% if current_user && current_user.admin %>
        <div class="text-center">
          <%= link_to "Edit Course", edit_lesson_path(@course), class: "btn btn-slate" %>
        </div>
      <% end %>
    </div> <!-- col -->

    <div class="lesson-body col-12 col-sm-7 col-md-8 text-center text-sm-left">
      <h2><%= @course.teaser %></h2>
      <%= raw(@course.description) %>

    </div> <!-- col -->
  </section>

  <section id="modules" class="row pt-5">
    <div class="col-12">
       <h2 class="font-weight-bold text-center text-black">Course Content</h2>
      <% if @registered %>
        <%= render partial: "courses/modules", locals: { course: @course } %>
      <% else %>
        <%= render partial: "courses/modules_sample", locals: { course: @course } %>
      <% end %>
      <div class="text-center">
        <% if !@registered %>
          <%= link_to "Register", new_course_registration_path(course: @course), class: "btn btn-red" %>
        <% end %>
      </div> <!-- centered -->
    </div>
  </section>


  <% unless @current_user_registered %>

    <section id="reviews" class="row pt-5">
      <div class="col-12">
         <h2 class="font-weight-bold text-center text-black">See What Others are Saying</h2>
        <%= raw(@course.reviews) %>
      </div>
    </section>

    <section id="selling-points">

      <div class="h-100 my-5">
        <div class="row py-4 align-items-center h-100">
          <div class="col-12 pb-4">
            <h2 class="font-weight-bold text-center text-black">What You Get</h2>
          </div>
          <div class="col-12 col-sm-5 text-center">
            <% if @course.sp1_image.attached? %>
              <img class="mb-3 z-depth-3" style="max-width: 100%; max-height: 25vh" src="<%= polymorphic_url(@course.sp1_image) %>" alt="<%= @course.sp1 %>">
            <% end %>
          </div> <!-- col -->
          <div class="col-12 col-sm-7 text-center">
            <h2><%= @course.sp1 %></h2>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- h100 -->

      <div class="h-100 my-5">
        <div class="row py-4 align-items-center h-100">
          <div class="col-12 col-sm-5 text-center order-sm-12">
            <% if @course.sp2_image.attached? %>
              <img class="mb-3 z-depth-3" style="max-width: 100%; max-height: 25vh" src="<%= polymorphic_url(@course.sp2_image) %>" alt="<%= @course.sp2 %>">
            <% end %>
          </div> <!-- col -->
          <div class="col-12 col-sm-7 order-sm-1 text-center">
            <h2><%= @course.sp2 %></h2>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- h100 -->

      <div class="h-100 mt-5 mb-3">
        <div class="row py-4 align-items-center h-100">
          <div class="col-12 col-sm-5 text-center">
            <% if @course.sp3_image.attached? %>
              <img class="mb-3 z-depth-3" style="max-width: 100%; max-height: 25vh" src="<%= polymorphic_url(@course.sp3_image) %>" alt="<%= @course.sp3 %>">
            <% end %>
          </div> <!-- col -->
          <div class="col-12 col-sm-7 text-center">
            <h2><%= @course.sp3 %></h2>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- h100 -->

      <div class="row pb-5 mb-5">
        <div class="col-12">
          <div class="text-center">
            <% if !@registered %>
              <%= link_to "Register", new_course_registration_path(course: @course), class: "btn btn-red" %>
            <% end %>
          </div> <!-- centered -->
        </div> <!-- col -->
      </div> <!-- row -->

    </section>
  <% end %>



  <section id="pins" class="row text-center py-5">
    <div class="col-12"> <!-- column-->
      <h2 class="font-weight-bold text-black">Share It</h2>

      <div class="text-center mb-3">
        <div class="fb-share-button"
          data-href="<%= polymorphic_url(@course) %>"
          data-layout="button_count">
        </div>
        <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
      </div> <!-- sm share buttons-->

      <% if @course.pins.attached? %>
        <% @course.pins.limit(4).each do |pin| %>
          <%= image_tag url_for(pin), class: "pin z-depth-3", style: "display: inline-block" %>
        <% end %>
      <% end %>
    </div> <!-- column-->
  </section>

</main>











<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook share -->
