<div style="position: fixed; top: 80px; cursor:pointer; z-index: 99" class="color-slate z-depth-3 px-3 py-2 text-white font-weight-bold d-md-none text-center pt-6" onclick="openNav()">
  Open Course Outline
</div>

<nav id="course-nav">
  <a href="javascript:void(0)" class="closebtn d-md-none" onclick="closeNav()">×</a>
  <% if current_user && current_user.admin %><p class="text-center">ADMIN VIEW</p><% end %>
  <h3 class="h3 text-center pb-4"><%= link_to @this_is_course.name, @this_is_course %></h3>

  <% @this_is_course.course_modules.order("sort").each do |mod| %>

    <% if mod.active || ( current_user && current_user.admin ) %>

      <% if @course_module && mod.id == @course_module.id && !@lesson %>
        <div class="color-red" style="margin-left: -15px; padding-left: 15px; margin-top: -10px; padding-top: 10px; margin-bottom: 5px; padding-bottom: 10px; width: 265px">
          <p class="mb-0">
        <% else %>
          <p class="mb-3">
      <% end %>  <!-- begin red div -->

            <span id="mod<%= mod.id %>showTarget" class="mr-2 linkish <% if @active_mod_id == mod.id %>hidden<% end %>">►</span>
            <span id="mod<%= mod.id %>hideTarget" class="mr-2 linkish <% unless @active_mod_id == mod.id %>hidden<% end %>">▼</span>
            <%= link_to mod.title, mod, class: "font-weight-bold"%>
            <% if current_user && current_user.admin && !mod.active %><i class="fas fa-eye-slash float-right"></i><% end %>
          </p>

      <% if @course_module && mod.id == @course_module.id && !@lesson %>
        </div>
      <% end %> <!-- end red div -->

        <div id="mod<%= mod.id %>div" class="<% unless @active_mod_id == mod.id %>hidden<% end %>">
          <% mod.lessons.order("order_in_module").each do |lesson| %>

            <% if lesson.active || ( current_user && current_user.admin ) %>

              <% if @lesson && lesson.id == @lesson.id %>
              <div class="color-red" style="margin-left: -15px; padding-left: 15px; padding-right: 20px; margin-top: -10px; padding-top: 10px; margin-bottom: 5px; padding-bottom: 10px; width: 265px">
                <p class="mb-0 pl-3">
              <% else %>
                <p class="mb-3 pl-3">
              <% end %>

                  <% if LessonCompletion.where(user_id: current_user.id, lesson_id: lesson.id, complete: true).count != 0 %>
                    <i class="far fa-check-square"></i>
                  <% else %>
                    <i class="far fa-square"></i>
                  <% end %>
                  &nbsp;&nbsp;
                  <%= link_to lesson.title, lesson  %>
                  <% if current_user && current_user.admin && !lesson.active %><i class="fas fa-eye-slash float-right"></i><% end %>
                </p>
              <% if @lesson && lesson.id == @lesson.id %>
                </div>
              <% end %>

              <% end %> <!-- if active or admin (lesson) -->

          <% end %> <!-- each lesson do -->
        </div> <!-- showhide div -->

      <% end %> <!-- if active or admin -->

  <% end %> <!-- course modules each do -->

  <div class="text-center pt-5 mt-5">
    <% if current_user && current_user.admin %>
      <%= link_to "Admin Page", admin_courses_path, class: "btn btn-sm btn-slate" %>
      <%= link_to "Courses Page", courses_path, class: "btn btn-sm btn-slate" %>
    <% end %>
  </div>

</nav>




<script>
  function openNav() {
      var e = document.getElementById("course-nav");
      if (e.style.width == '250px')
      {
          e.style.width = '0px';
      }
      else
      {
          e.style.width = '250px';
          e.style.paddingLeft = '10px';
          e.style.paddingRight = '10px';
      }
  }

  function closeNav() {
      document.getElementById("course-nav").style.width = "0";
      document.getElementById("course-nav").style.paddingLeft = "0";
      document.getElementById("course-nav").style.paddingRight = "0";
  }

  $(document).ready(function() {
    <% @this_is_course.course_modules.each do |mod| %>
      $("#mod<%= mod.id %>showTarget").click(function(){
        $("#mod<%= mod.id %>div").removeClass("hidden");
        $("#mod<%= mod.id %>showTarget").addClass("hidden");
        $("#mod<%= mod.id %>hideTarget").removeClass("hidden");
      });
      $("#mod<%= mod.id %>hideTarget").click(function(){
        $("#mod<%= mod.id %>div").addClass("hidden");
        $("#mod<%= mod.id %>hideTarget").addClass("hidden");
        $("#mod<%= mod.id %>showTarget").removeClass("hidden");
      });
    <% end %>
  });

</script>
