<footer class="page-footer font-small color-whiteish">

  <div class="container text-center text-md-left pt-3"> <!-- Footer Links -->
    <div class="row mt-3 dark-grey-text"> <!-- Grid row -->

      <div class="col-md-4 mb-5"> <!-- Six Key Skills -->
        <h6 class="text-uppercase font-weight-bold">Our Mission</h6>
        <hr class="color-red mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          You&nbsp;need six key skills in order to accomplish any&nbsp;goal.  We&nbsp;help&nbsp;you identify and develop any areas that might be holding&nbsp;you&nbsp;back.
        </p>
      </div> <!-- 6KS column -->

      <div class="col-md-3 mx-auto mb-5"><!-- Grid column -->
        <h6 class="text-uppercase font-weight-bold">The Skills</h6>
        <hr class="color-red mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <%= link_to page_path('motivation'), class: "dark-grey-text" do %>
            <div class="sidenav-icon"><i class="fas fa-mountain"></i></div>Motivation
          <% end %>
        </p>
        <p>
          <%= link_to page_path('mindset'), class: "dark-grey-text" do %>
            <div class="sidenav-icon"><i class="fas fa-brain"></i></div>Mindset
          <% end %>
        </p>
        <p>
          <%= link_to page_path('resourcing'), class: "dark-grey-text" do %>
            <div class="sidenav-icon"><i class="fas fa-first-aid"></i></div>Resourcing
          <% end %>
        </p>
        <p>
          <%= link_to page_path('planning'), class: "dark-grey-text" do %>
            <div class="sidenav-icon"><i class="fas fa-sitemap"></i></div>Planning
          <% end %>
        </p>
        <p>
          <%= link_to page_path('time-management'), class: "dark-grey-text" do %>
            <div class="sidenav-icon"><i class="fas fa-stopwatch"></i></div>Time Management
          <% end %>
        </p>
        <p>
          <%= link_to page_path('discipline'), class: "dark-grey-text" do %>
            <div class="sidenav-icon"><i class="fas fa-cookie-bite"></i></div>Discipline
          <% end %>
        </p>
      </div> <!-- Quizzes column -->

      <div class="col-md-3 mx-auto mb-5"><!-- Grid column -->
        <h6 class="text-uppercase font-weight-bold">Links</h6>
        <hr class="color-red mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a class="dark-grey-text" href="#!"><em>Map My Skills©</em> Quiz</a></p>
        <p><%= link_to "Read the Blog", blogs_path, class: "dark-grey-text" %></p>
        <p><%= link_to "About Us", page_path("about_us"), class: "dark-grey-text" %></p>
        <p><a class="dark-grey-text" href="#!">6KS Private Coaching</a></p>
      </div> <!-- Quizzes column -->

      <div class="col-md-2 mx-auto mb-md-0 mb-5"> <!-- SM column -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="color-red mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a target="_blank" href="https://www.facebook.com/sixkeyskills/" class="icons-sm"><div class="icon-width"><i class="fab fa-facebook-f"></i></div> Facebook</a></p>
        <p><a target="_blank" href="https://www.pinterest.com/sixkeyskills/" class="icons-sm"><div class="icon-width"><i class="fab fa-pinterest"></i></div> Pinterest</a></p>
        <p><a target="_blank" href="#https://twitter.com/sixkeyskills" class="icons-sm"><div class="icon-width"><i class="fab fa-twitter"></i></div> Twitter</a></p>
        <p><a target="_blank" href="https://www.linkedin.com/company/six-key-skills" class="icons-sm"><div class="icon-width"><i class="fab fa-linkedin"></i></div> LinkedIn</a></p>
        <p><a target="_blank" href="mailto:liz@sixkeyskills.com" class="icons-sm"><div class="icon-width"><i class="far fa-envelope"></i></div> Email</a></p>
      </div> <!-- SM column -->

    </div> <!-- Grid row -->
  </div> <!-- Footer Links -->


  <div class="footer-copyright text-center text-black-50 py-3">Copyright ©<%= Date.today.year %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="text-navy" href="https://www.sixkeyskills.com"> www.SixKeySkills.com</a>
  </div> <!-- Copyright -->

</footer>
<!-- Footer -->
