<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav fixed side-nav-light color-whiteish">
  <ul class="custom-scrollbar">




    <!-- Logo -->
    <li>
      <div class="logo-wrapper waves-light">
        <%= link_to root_path do %>
          <%= image_tag "logo-six-key-skills.png", class: "img-fluid flex-center" %>
          <% end %>
      </div>
    </li>
    <!--/. Logo -->



    <!--Search Form-->
    <li>
      <form class="search-form" role="search">
        <div class="form-group md-form mt-0 pt-1 waves-light">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </li>
    <!--/.Search Form-->



    <!-- Side navigation links -->
    <li>
      <ul class="collapsible collapsible-accordion">

        <li>
          <a class="waves-effect arrow-r">
            <em>Map My Skills©</em> Quiz
          </a>
        </li>


        <li><%= link_to "The Blog", blogs_path, class: "waves-effect arrow-r" %></li>


        <li><a class="collapsible-header waves-effect arrow-r">
          <div class="sidenav-icon"><i class="fas fa-mountain"></i></div>Motivation
            <i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "What is it?", page_path('motivation'), class: "waves-effect" %></li>
              <li><a href="#" class="waves-effect">Do I have it?</a></li>
              <li><a href="#" class="waves-effect">How can I build it?</a></li>
              <li><a href="#" class="waves-effect">Resources</a></li>
            </ul>
          </div>
        </li>

        <li><a class="collapsible-header waves-effect arrow-r">
          <div class="sidenav-icon"><i class="fas fa-brain"></i></div>Mindset
            <i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "What is it?", page_path('mindset'), class: "waves-effect" %></li>
              <li><a href="#" class="waves-effect">Do I have it?</a></li>
              <li><a href="#" class="waves-effect">How can I build it?</a></li>
              <li><a href="#" class="waves-effect">Resources</a></li>
            </ul>
          </div>
        </li>

        <li><a class="collapsible-header waves-effect arrow-r">
          <div class="sidenav-icon"><i class="fas fa-first-aid"></i></div>Resourcing
            <i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "What is it?", page_path('resourcing'), class: "waves-effect" %></li>
              <li><a href="#" class="waves-effect">Do I have it?</a></li>
              <li><a href="#" class="waves-effect">How can I build it?</a></li>
              <li><a href="#" class="waves-effect">Resources</a></li>
            </ul>
          </div>
        </li>


        <li><a class="collapsible-header waves-effect arrow-r">
          <div class="sidenav-icon"><i class="fas fa-sitemap"></i></div>Planning
            <i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "What is it?", page_path('planning'), class: "waves-effect" %></li>
              <li><a href="#" class="waves-effect">Do I have it?</a></li>
              <li><a href="#" class="waves-effect">How can I build it?</a></li>
              <li><a href="#" class="waves-effect">Resources</a></li>
            </ul>
          </div>
        </li>

        <li><a class="collapsible-header waves-effect arrow-r">
          <div class="sidenav-icon"><i class="fas fa-stopwatch"></i></div>Time Management
            <i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "What is it?", page_path('time-management'), class: "waves-effect" %></li>
              <li><a href="#" class="waves-effect">Do I have it?</a></li>
              <li><a href="#" class="waves-effect">How can I build it?</a></li>
              <li><a href="#" class="waves-effect">Resources</a></li>
            </ul>
          </div>
        </li>

        <li><a class="collapsible-header waves-effect arrow-r">
          <div class="sidenav-icon"><i class="fas fa-cookie-bite"></i></div>Discipline
            <i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "What is it?", page_path('discipline'), class: "waves-effect" %></li>
              <li><a href="#" class="waves-effect">Do I have it?</a></li>
              <li><a href="#" class="waves-effect">How can I build it?</a></li>
              <li><a href="#" class="waves-effect">Resources</a></li>
            </ul>
          </div>
        </li>




        <li>
          <a class="waves-effect arrow-r">
            About Us
          </a>
        </li>


        <li>
          <a class="waves-effect arrow-r">
            Contact Us
          </a>
        </li>


        <li>
          <a class="waves-effect arrow-r">
            6KS Private Coaching
          </a>
        </li>



      </ul>
    </li>
    <!--/. Side navigation links -->



    <!--Social-->
    <li>
      <ul class="social">
        <li><a target="_blank" href="https://www.facebook.com/sixkeyskills/" class="icons-sm px-2"><i class="fab fa-facebook-f"> </i></a></li>
        <li><a target="_blank" href="https://www.pinterest.com/sixkeyskills/" class="icons-sm px-2"><i class="fab fa-pinterest"> </i></a></li>
        <li><a target="_blank" href="#https://twitter.com/sixkeyskills" class="icons-sm px-2"><i class="fab fa-twitter"> </i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/company/six-key-skills" class="icons-sm px-2"><i class="fab fa-linkedin"> </i></a></li>
        <li><a target="_blank" href="mailto:liz@sixkeyskills.com" class="icons-sm px-2"><i class="far fa-envelope"></i></a></li>
      </ul>
    </li>
    <!--/Social-->



  </ul>
  <div class="sidenav-bg"></div>
</div>
<!--/. Sidebar navigation -->
