<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Six Key Skills
    </title>
    <%= if content_for?(:head) then yield(:head) end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag :application %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

  </head>

  <body>


    <div class="non-footer">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/sidenav' %>
      <%= render 'layouts/notifications' %>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <%= javascript_include_tag 'mdb_framework'%>

    <script>
      // SideNav Button Initialization
      $(".button-collapse").sideNav();
      // SideNav Scrollbar Initialization
      var sideNavScrollbar = document.querySelector('.custom-scrollbar');
      var ps = new PerfectScrollbar(sideNavScrollbar);
    </script>


    <!-- disqus -->
    <script id="dsq-count-scr" src="//six-key-skills.disqus.com/count.js" async></script>

    <!-- pinterest -->
    <script type="text/javascript">
    (function(d){
        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
    }(document));
    </script>


    <%= yield :additional_js %>

  </body>
</html>
